body{
    background-color: aqua;
}
.heading{
    color: brown;
    background-color: black;
}
.places {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.place {
    display: flex;
    /*border: 1px solid black;*/
    padding: 10px;
}

.text {
    width: 50%;
}

.image {
    width: 50%;
}

.image img {
    width: 100%;
    display: block;
}